In [306]:
import pandas as pd
import numpy as np

In [307]:
url_1 = 'https://en.wikipedia.org/wiki/List_of_Nigerian_states_by_area'

In [308]:
my_list = pd.read_html(url_1)

In [309]:
states = my_list[0]

In [310]:
states = pd.DataFrame(states)
states.head()

  Rank         State    km²
0    1   Niger State  76363
1    2   Borno State  70898
2    3  Taraba State  54473
3    4  Kaduna State  46053
4    5  Bauchi State  45837

In [311]:
states.columns = ['Rank', 'State', 'Area']
states.head()

  Rank         State   Area
0    1   Niger State  76363
1    2   Borno State  70898
2    3  Taraba State  54473
3    4  Kaduna State  46053
4    5  Bauchi State  45837

In [312]:
states[['State','Area']][states.Area == states['Area'].max()]

         State   Area
0  Niger State  76363

In [313]:
states[['State','Area']][states.Area == states['Area'].min()]

          State  Area
36  Lagos State  3345

In [314]:
url = 'https://www.nounportal.org/list-of-the-36-states-of-nigeria-and-their-capitals/'

In [315]:
df = pd.read_html(url)

In [316]:
capitals = df[0]
capitals = pd.DataFrame(capitals)
capitals.head()

             State  Capital
0       Abia State  Umuahia
1    Adamawa State     Yola
2  Akwa Ibom State      Uyo
3    Anambra State     Awka
4     Bauchi State   Bauchi

In [317]:
states = pd.merge(states, capitals, how='inner' , sort=True)

In [318]:
states = states.rename(columns = {'Rank': 'Area_Position'})

In [319]:
new_order = ['State', 'Capital', 'Area', 'Area_Position']

In [320]:
states = states.reindex(columns=new_order)
states.head()

             State  Capital   Area Area_Position
0       Abia State  Umuahia   6320            32
1    Adamawa State     Yola  36917             8
2  Akwa Ibom State      Uyo   7081            30
3    Anambra State     Awka   4844            35
4     Bauchi State   Bauchi  45837             5

In [321]:
url = 'https://en.wikipedia.org/wiki/List_of_Nigerian_states_by_population'

In [322]:
df = pd.read_html(url)

In [323]:
pop = df[0]

In [324]:
populations = pd.DataFrame(pop)
populations.head()

  Rank          State  Population
0    1     Kano State     9401288
1    2    Lagos State     9113605
2    3   Kaduna State     6113503
3    4  Katsina State     5801584
4    5      Oyo State     5580894

In [325]:
states = pd.merge(states, populations, how='inner')
states = states.rename(columns = {'Population': 'pop_2006', 'Rank': 'pop_position'})
states.head()

             State  Capital   Area Area_Position pop_position  pop_2006
0       Abia State  Umuahia   6320            32           28   2845380
1    Adamawa State     Yola  36917             8           26   3178950
2  Akwa Ibom State      Uyo   7081            30           15   3902051
3    Anambra State     Awka   4844            35           10   4177828
4     Bauchi State   Bauchi  45837             5            7   4653066

Inserting ID column as the beginning, 

```python
df.insert(0, 'New_ID', range(880, 880 + len(df)))
df
```

In [326]:
#states.insert(0, 'ID', range(1, 1 + len(states)))
states.head()

             State  Capital   Area Area_Position pop_position  pop_2006
0       Abia State  Umuahia   6320            32           28   2845380
1    Adamawa State     Yola  36917             8           26   3178950
2  Akwa Ibom State      Uyo   7081            30           15   3902051
3    Anambra State     Awka   4844            35           10   4177828
4     Bauchi State   Bauchi  45837             5            7   4653066

In [327]:
url = 'https://en.wikipedia.org/wiki/List_of_Nigerian_states_by_GDP'

In [328]:
my_list = pd.read_html(url)

In [329]:
gdp = my_list[1]

In [330]:
gdp = pd.DataFrame(gdp)
gdp = gdp.sort_values('State')
#gdp.insert(0, 'ID', range(1, 1 + len(gdp)))

In [ ]:
df.Num_of_employees = df.Num_of_employees.replace({"10-Jan": "1-10",
                                                   "Nov-50": "11-50"})

In [398]:
gdp= gdp.rename(columns={'GDP (in millions of USD)': 'gdp_2010', 'Rank': 'gdp_position'})
#gdp.State = gdp.State.replace({'Nassarawa State': 'Nasarawa State'})
 
gdp.head()

    gdp_position            State   gdp_2010
11            12       Abia State   US$8,687
23            24    Adamawa State   US$4,582
7              8  Akwa Ibom State  US$11,179
15            16    Anambra State   US$6,764
21            22     Bauchi State   US$4,713

In [402]:
#gdp.State = gdp.State.replace({'Nassarawa State': 'Nasarawa State'})
states.State = states.State.replace({'Federal Capital Territory': 'FCT'})

In [408]:
#gdp.iloc[24:27]
states = states.merge(gdp, on='State', how='outer')
states.head()

,State,Capital,Area,Area_Position,pop_position,pop_2006,gdp_position,gdp_2010
0,Abia State,Umuahia,6320,32,28,2845380,12.0,"US$8,687"
1,Adamawa State,Yola,36917,8,26,3178950,24.0,"US$4,582"
2,Akwa Ibom State,Uyo,7081,30,15,3902051,8.0,"US$11,179"
3,Anambra State,Awka,4844,35,10,4177828,16.0,"US$6,764"
4,Bauchi State,Bauchi,45837,5,7,4653066,22.0,"US$4,713"

In [562]:
url = 'https://en.wikipedia.org/wiki/Local_government_areas_of_Nigeria'
my_list = pd.read_html(url)

In [563]:
lga = pd.DataFrame(my_list[1])
lga.drop('Website', axis=1, inplace=True)
lga.head()

         LGA                      State
0     Abadam                Borno State
1      Abaji  Federal Capital Territory
2       Abak            Akwa Ibom State
3  Abakaliki               Ebonyi State
4  Aba North                 Abia State

In [566]:
lga.State = lga.State.replace({'Federal Capital Territory': 'FCT'})
lga.head()

         LGA            State
0     Abadam      Borno State
1      Abaji              FCT
2       Abak  Akwa Ibom State
3  Abakaliki     Ebonyi State
4  Aba North       Abia State

In [572]:
lga

              LGA            State
0          Abadam      Borno State
1           Abaji              FCT
2            Abak  Akwa Ibom State
3       Abakaliki     Ebonyi State
4       Aba North       Abia State
..            ...              ...
769  Zangon Kataf     Kaduna State
770         Zaria     Kaduna State
771          Zing     Taraba State
772         Zurmi    Zamfara State
773          Zuru      Kebbi State

[774 rows x 2 columns]

Second solution is faster

````python
%%timeit
{idx: group['LGA'].tolist() 
     for idx, group in lga.groupby('State')}````
10.8 ms ± 612 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

````python
%%timeit
lga.groupby('State')['LGA'].apply(lambda x: x.tolist()).to_dict()````
6.37 ms ± 225 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

In [502]:

lga =lga.groupby('State')['LGA'].apply(lambda x: x.tolist()).to_dict()

In [504]:
lga['FCT']

['Kuje', 'Gwagwalada', 'Abaji', 'Kwali', 'Bwari', 'Abuja']

In [516]:
k = lga.items()
type(k)

dict_items

In [527]:
LGA  = list(lga.items())

In [528]:
type(LGA)

list

In [529]:
LGA[10]

('Ebonyi State',
 ['Ezza North',
  'Afikpo South (Edda)',
  'Ohaukwu',
  'Ikwo',
  'Ezza South',
  'Ebonyi',
  'Ohaozara',
  'Ishielu',
  'Ivo',
  'Afikpo North',
  'Izzi',
  'Onicha',
  'Abakaliki'])

In [530]:
import json

In [540]:
with open('LGA.json', 'w') as f:
    json.dump(lga, f)

In [545]:
states.to_csv('states.csv')

In [560]:
lga.reindex()

               LGA          State
573         Ohafia     Abia State
727  Umuahia North     Abia State
725      Ukwa West     Abia State
724      Ukwa East     Abia State
720      Ugwunagbo     Abia State
..             ...            ...
492           Maru  Zamfara State
699  Talata Mafara  Zamfara State
54            Anka  Zamfara State
129        Bungudu  Zamfara State
86          Bakura  Zamfara State

[774 rows x 2 columns]

In [561]:
lga

               LGA          State
573         Ohafia     Abia State
727  Umuahia North     Abia State
725      Ukwa West     Abia State
724      Ukwa East     Abia State
720      Ugwunagbo     Abia State
..             ...            ...
492           Maru  Zamfara State
699  Talata Mafara  Zamfara State
54            Anka  Zamfara State
129        Bungudu  Zamfara State
86          Bakura  Zamfara State

[774 rows x 2 columns]